* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.subtitle::after{
    content: "";
    display: block;
    height: 3px;
    width: 70px;
    background-color: #EC715F;
    margin:8px auto 0 auto;
}

header{
  z-index: 10;
  width:100%;
  height: 70px;
  position: fixed;
  opacity: 0.8;
  background-color:rgba(3,3,3,0.9);
}
/* 付け加え */
.port9{
  width: 200px;
  height: 175px;
  background-image: url(img/screen3.png);
  background-position: center;
}
.port8{
  width: 250px;
  height: 175px;
  background-image: url(img/screen3.png);
  background-position: center;
}
.fadein {
	opacity : 0.1;
	transform : translate(0, 50px);
	transition : all 500ms;
	}

/* 画面内に入った状態 */
.fadein.scrollin {
	opacity : 1;
	transform : translate(0, 0);
  }
  
.port-3{
  display: none;
}
body{
  width: 100%;
}
.box1-ext {
  border-bottom: 1px solid white;
}
.port-img{
  height: 300px;
  float: left;
}
.nav1{
  padding-right: 0;
  margin-left: 50%;
}

#wrap {
  width: 100%;
  overflow: hidden;
}
figure.hover-parent {
  width: 250px;
  height: 175px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  }
  figcaption.hover-mask {
  width: 250px;
  height: 175px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 30px;
  }

  figure.hover-parent:hover .hover-mask {
    opacity: 1;
    transition:all 0.6s ease;
    }
.contact-text1{
  margin: 0 auto;
  text-align:center;
}
.port-1{
  float: left;
  width: 50%;
  padding-left: 20%;
}
.port-2{
  float: left;
  width: 50%;
  padding-left: 5%;
}
/* 付け加え */
.container{
  width:1024px;
  height: 70px;
  margin:0 auto;
}

.title1{
  padding-right:300px;
}
.nav-list-item{
  float:right;
  list-style: none;
  width:120px;
  padding:0 20px;
  margin-top:22px;
  font-size:16px;
  color:#FAFAFA;
}

.nav-list-item1{
  float:left;
  list-style: none;
  width:120px;
  padding:0 20px;
  margin-top:18px;
  font-size:26px;
  color:#FAFAFA;
}


.main-visual{
  width:100%;
  padding-top: 300px;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position:center;
  color:white;
}


.portfolio{
  width:100%;
  background-color:#ECEFF1;
  background-size: cover;
  background-position:center;
}
.box1{
  width:800px;
  margin:0 auto;
}
.subtitle{
  font-size: 32px;
  color:#000000;
  padding-top: 90px;
  text-align:center;
}
.port-text{
  text-align:center;
  font-size: 16px;
  padding-top:30px;
  color:#000000;
}
.profile{
  width:100%;
  background-color:#ECEFF1;
  background-size: cover;
  background-position:center;
}
.photo-box{
  padding-top:30px;
  padding-bottom: 90px;
}

.feature{
  width:100%;
  margin:0 auto;
  background:white;
}
.sublist{
  font-size: 20px;
}
.sub{
  text-align: center;
}
.fa-code{
  font-size:60px;
  padding-bottom: 10px;
}
.fa-desktop{
  font-size:60px;
  padding-bottom: 10px;
}
.fa-cogs{
  font-size:60px;
  padding-bottom: 10px;
}
.srength-text{
  padding-top: 10px;
  text-align: left;
}
.srength1{
  width: 320px;
  float:left;
  border:solid 2px #333;
  border-radius: 7px;
  height:280px;
}
.srength2{
  width: 320px;
  float:left;
  margin-left: 10px;
  margin-right: 10px;
  border:solid 2px #333;
  border-radius: 7px;
  box-shadow: 4px;
  height:280px;
}
.srength3{
  width: 320px;
  float:left;
  border:solid 2px #333;
  border-radius: 7px;
  height:280px;
}
.f-box{
  padding-bottom: 90px;
  padding-top:30px;
  width: 1000px;
  margin: 0 auto;
}
.profile{
  width:100%;
  background-color:rgba(3,3,3,0.3);
  
}
.profile-box{
  width:1024px;
  margin: 0 auto;
}
.profile-main{
  padding-top: 30px;
  padding-bottom: 90px;
}
.my-face{
  width:50%;
  float:left;
}
.profile-img{
  height: 260px;
  width: 260px;
  border-radius:50%;
  margin:0 auto;
  z-index: 2;
  background-image: url(img/icon\ .jpg);
}
.profile-text{
  width:50%;
  float:left;
}
.name{
  margin-top: 5px;
  margin-bottom: 20px;
  font-size:16px;
  color:#000000;
}
.program{
  margin-top: 5px;
  font-size:16px;
  color:#000000;
}
.contact{
  width:800px;
  margin:0 auto;
}
.contact-text{
  padding-top: 30px;
  padding-bottom: 90px;
}
.message{
  width:50%;
  float:left;
}
.message-box{
 margin: 0 auto;
 width: 130px;
}
.mail{
  margin-bottom: 5px;
}
.tell{
  margin-top:20px;
  margin-bottom: 5px;
}
.number1{
  border-bottom: 1px;
}
.sns{
  width:50%;
  float:left;
  padding-left:105px;
}
.icon{
  margin-top: 5px;
  margin: 0 auto;
}
.fa-facebook-f{
  font-size:50px;
}
.fa-twitter{
  font-size:50px;
  padding:0 20px;
}
.fa-instagram{
  font-size:50px;
}
.discription-text{
  text-decoration: underline;
  color:#212121;
}
footer {
  width: 100%;
  height: 80px;
  text-align: center;
  background-color:black;
  font-size:16px;
  padding-top: 32px;
  color:#FAFAFA;
}

@media screen and (max-width: 1200px){
  .nav1{
    margin-left: 40%;
  }
  .srength1{
    width: 320px;
    margin:0 auto;
    float:none;
  }
  .srength2{
    width: 320px;
    margin:40px auto;
    float:none;
  }
  .srength3{
    width:320px;
    margin:0 auto;
    float:none;
  }
  .f-box{
    width: 700px;
    margin: 0 auto;
  }
  

}
@media screen and (max-width: 900px){
  .filter{
    background:#000;
  }
  .port-img3{
    opacity: 0.7;
  }
  .port-3{
    display: block;
    position: relative;
  }
  .port-text3{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    color:black;
  }
  .port-text4{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding-bottom: 40px;
    color:black;
  }
  .port-img3{
  margin:0 auto;
  width: 250px;
  display: block;
  }
  .port-1{
  display:none;
  }
  .port-2{
    float:none;
    margin: 0 auto;
    display: none;
  }
  figure.hover-parent {
    width: 80%;
    height: 175px;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    }
    figcaption.hover-mask {
    width: 80%;
    height: 175px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 30px;
    }
  
    figure.hover-parent:hover .hover-mask {
      opacity: 1;
      transition:all 0.6s ease;
}
}
@media screen and (max-width: 830px){


.nav1{
  margin-left: 50px;
}
header{
  width:100%;
  height: 50px;
}
.container{
  width:90%;
  height: 50px;
  margin:0 auto;
}
.logo-image{
  height: 50px;
  float: left
}

.nav-list-item{
 display:none;
}
.nav-list-item1{
  margin-top:8px;
}

.main-visual{
  width:100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position:center;
  color:white;
}

.lorem-lpsum{
  font-size: 40px;
  padding-top:200px;
  text-align: center;
}
.simply{
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}
.box1{
  width:90%;
  margin:0 auto;
}
.subtitle{
  font-size: 32px;
  color:#000000;
  padding-top: 90px;
  text-align:center;
}
.profile{
  width:100%;
  background-color:#ECEFF1;
  background-size: cover;
  background-position:center;
}
.photo-box{
  padding-top:30px;
  padding-bottom: 90px;
  margin: 0 auto;
}
.hover-parent{
  margin:0 auto;
}
.photo-box1{
display: none;
}
.photo-box2{
  background-image:url(img/websuku.png);
  width:300px;
  height:250px;
  background-size: cover;
  background-position: center;
  float:none;
  margin:0 auto;
}
.photo-box3{
  display:none;
}
.photo-box4{
  background-image:url(img/webcamp.png);
  width:300px;
  height:250px;
  background-size: cover;
  background-position: center;
  margin:10px auto;
  float:none;
}
.photo-box5{
  display:none;
}
.photo-box6{
  background-image:url(img/webcamp-mother.png);
  width:300px;
  height:250px;
  background-size: cover;
  background-position: center;
  margin:0 auto;
  float:none;
}
.feature{
  width:90%;
  margin:0 auto;
}
.sublist{
  font-size: 20px;
}
.sub{
  text-align: center;
}
.fa-code{
  font-size:60px;
  padding-bottom: 10px;
  margin:0 auto;
  padding-left:100px;
}
.fa-desktop{
  font-size:60px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.fa-cogs{
  font-size:60px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.srength-text{
  padding-top: 10px;
  text-align: left;
}
.srength1{
  width: 320px;
  margin:0 auto;
  float:none;
}
.srength2{
  width: 320px;
  margin:40px auto;
  float:none;
}
.srength3{
  width:320px;
  margin:0 auto;
  float:none;
}
.f-box{
  padding-bottom: 90px;
  padding-top:30px;
  width: 100%;
}

.profile-box{
  width:90%;
  margin: 0 auto;
}
.profile-main{
  padding-top: 30px;
  padding-bottom: 90px;
}
.my-face{
  width:100%;
  float:none;
}
.profile-img{
  margin-bottom: 20px;
}
.profile-text{
  width:50%;
  float:none;
  margin:0 auto;
  margin-top: 50px;
}
.name{
  margin-top: 5px;
  margin-bottom: 20px;
  font-size:16px;
  color:#000000;
}
.program{
  margin-top: 5px;
  font-size:16px;
  color:#000000;
}
.contact{
  width:90%;
  margin:0 auto;
}

.message{
  width:100%;
  float:none;
}
.message-box{
  text-align:center;
}

.sns{
  width:100%;
  padding-left:0px;
  text-align: center;
  float:none;
}
.sns-title{
  margin-top: 20px;
}
.icon{
  margin-top: 5px;
  text-align:center;
}

.fa-twitter{
  font-size:50px;
  padding:0 8px;
}
.discription-text{
  padding-top: 5px;
  padding-bottom: 20px;
  text-align:center;
  margin:0 auto;
}

.icon-box{
  padding-top: 5px;
}

footer {
  width: 100%;
  height: 60px;
  text-align: center;
  background:black;
  font-size:16px;
  padding-top: 22px;
  color:#FAFAFA;
}
br.pc{
  display:none;
}

}

@media screen and (max-width: 570px){
  #menu{
    background:rgba(3,3,3,0.9); 
   }
}
@media screen and (max-width:450px){}
figure.hover-parent {
  width: 200px;
  height: 175px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  margin-right: 5px;
  }
  figcaption.hover-mask { 
  width: 200px;
  height: 175px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 30px;
  margin-right: 5px;
  }

  figure.hover-parent:hover .hover-mask {
    opacity: 1;
    transition:all 0.6s ease;
    }
  }